.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #87b2f8;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid #a6a6a6;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
        height: 22px;
        width: 22px;
        cursor: pointer;
        transition: box-shadow 200ms ease-in-out;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
